<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
  <script src="script.js"></script>
</head>
<body>
  <div class="nav">
    <input type="checkbox">
      <span></span>
      <span></span>
      <div class="menu">
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
      </div>
  </div>
<div class="circle"></div>  
  <div class="info">
    <div class="penguins-container">
<div class="rico-info"></div>

</div>
<div class="info-box" style="top: 850px;right: 120px;">Uwielbia strzelać i wysadzać. 
  Dość dużo mówi, choć częściej wydaje dźwięki przypominające ochrypłe chrząkanie 
  nawiązujące do jego nastroju. W przeciwieństwie do pozostałych pingwinów mówi niezbyt 
  wyraźnie, mamrocze ip bełkocze. Większości z tego co mówi nie da się zrozumieć, choć pingwiny 
  zdają się rozumieć go doskonale. Czasem odzywa się zrozumiale, ale i wtedy mówi ochryple. 
  Rico ma nieskończoną przestrzeń w brzuchu, w której trzyma wiele różnych przedmiotów
  Oddział Skippera wykorzystuje to na swoją korzyść, gdyż Rico jest magazynem sprzętu.
   Posiada lalkę o imieniu Perky, którą uważa za swoją dziewczynę.
    Ma również misia, którego wyciąga, gdy się czegoś boi. 
    Kocha jeździć samochodem pingwinów, co odwróciło się kiedyś przeciw niemu.
     Ma obsesję na punkcie ryb. 
     Przygotowuje wspaniałe sushi, a wszelkie eksplozje i wybuchy komentuje uwielbianym przez widzów „Kaboom”.
</div>
<div class="kowalski-info" style="margin-top:50px ;"></div>
<div class="info-box" style="top: 1500px;right: 120px;">
  Jest najwyższy i najszczuplejszy z grupy. Ma niebieskie oczy, wysokie czoło, szczupły dziób i okrągłą głowę.
   Jak każdy z pingwinów, potrafi zrobić „duże, słodkie oczy”. 
   Często jest widywany z notatnikiem i ołówkiem oraz liczydłem, na którym wykonuje obliczenia 
   (jako superbohater, doktor Kontra-Fałda, używa go w charakterze bumerangu). Choć nigdzie nie zostało to napisane, 
   można zauważyć, że jest neopozytywistą, gdy wypowiada się, często nieproszony, w różnych kwestiach. Kowalski jest 
   naukowcem, toteż od okazywania uczuć czy emocji, woli chłodne kalkulacje, wzory oraz równania. 
   Nie wierzy w magię i czary, aczkolwiek sądzi, że kosmici istnieją. Marzy o jeszcze doskonalej rozwiniętym umyśle. 
   W odcinku Gdzie mój mózg? spełnia swoje marzenie, jednak posuwa się nieco za daleko. Nielot posiada umiejętność 
   grania na banjo; doskonale tańczy i śpiewa. Udowadnia to w odcinku Kura mózgowa, gdzie robi to dla Kwoki w celu 
   odwrócenia jej uwagi.</div>
   <div class="szeregowy-info"></div>
   <div class="info-box" style="top: 2120px;right: 120px; height: 350px;">
    Posiada niebieskie oczy i okrągłą głowę, trochę podobną do Kowalskiego. Wielu uważa go za najsłodszego z oddziału. 
    Umie przekonać szefa do swoich racji wielkimi oczami i słodką minką. 
    Mimo, iż jest najmniejszy, bardzo dobrze sprawuje się w walce. 
    Często jest najlogiczniej myślącym z grupy, jednak jego pomysły, mimo, iż wydają się bardziej rozsądne od sugestii 
    Kowalskiego, są traktowane niepoważnie. 
    Jest także bardzo wrażliwy i dziecinny, przede wszystkim lubi zabawę pluszowymi jednorożcami znanymi jako 
    słodkorożcami (czasami po prostu jednorożce), które są wzorowane na My Little Pony, uwielbia słodycze pod 
    każdą postacią. W niektórych odcinkach pingwiny zatykają mu uszy (np. kiedy przeklinają) z tej racji można 
    podejrzewać, że Szeregowy jest jeszcze dzieckiem, ale jest jeszcze parę dowodów które temu zaprzeczają. 
    </div>
<div class="skipper-info"></div>
<div class="info-box" style="top: 2600px;right: 120px; height: 350px;">
  Jest odpowiedzialny za obmyślanie taktyki i wydawanie rozkazów pozostałym członkom swojego oddziału. 
  Jego drużyna nie radzi sobie bez niego. Zawsze, gdy są sami nie wiedzą co robić. 
  Nikt oprócz Skippera nie umie być szefem.
   Jest bardzo nieufny w stosunku do innych zwierząt, z wyjątkiem Marlenki i Maurice'a. Doskonale walczy.
    Kowalski, Szeregowy i Rico nie potrafią go pokonać ani zaskoczyć. 
    Widać to w odcinkach Operacja: Igła, Zemsta jest słodka i Fajny wózek.
     Czasem da się go pokonać, widać to w odcinku "Cześć laleczko" i "Kaboom" kiedy Rico daje lanie i jest 
     strasznie wściekły. Zaskoczyć też można go w np. Akcja bez zadęcia i Pingwin, który mnie kochał. 
     Dla niego każdy, kto umie przeżyć wojnę nuklearną, jest w porządku. Uważa, że broń musi być niebezpieczna. 
     Potrafi prawie wszystko zmienić w broń np. taniec , uber-słodycz Szeregowego 
     , dziewczęcą delikatność i wiele innych. 
</div>
  </div>
</body>
</html>