<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
  <script src="script.js"></script>
</head>
<body>
  <div class="nav">
    <input type="checkbox">
      <span></span>
      <span></span>
      <div class="menu">
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
      </div>
  </div>
<div class="circle"></div>  
  <div class="info">
    <div class="penguins-container">
<div class="rico-info"></div>
<div class="info-box">asdsasa</div>
<!--<div class="kowalski-info"></div>
<div class="skipper-info"></div>
<div class="szeregowy-info"></div>-->

</div>

  </div>
</body>
</html>